*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(70, 69, 69); 
    padding: 15px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus
{
    display: flex;
}
.logo-photo{
    width: 150px;
    margin-left: 0px;
}
.items{
    margin-right: 10px;
    padding-right: 7px;
    font-size: ;
    cursor: pointer;
}
.items:hover{
  color: aqua;  
}
.banner-img{
    width: 300px;
}
.banner-container
{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border-top:  2px solid white;
    color: white;
    background-image: url("./images/background.png"),
    linear-gradient(50deg,rgb(0, 0, 0),rgb(39, 37, 37)); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.discipt{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.dott{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px ;
}
.dott:hover{
    color: aqua;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
    
}
.about-title{
    text-align: center;
    padding: 20px;
}
.box{
    width: 240px;
    height: 300px;
    box-shadow: 4px 4px 15px grey;
    border: none;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 100px;

}
.box-btn{
    background-color: grey;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.box-title{
    padding: 10px;
}
.box-descrip
{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content:  space-around;
    padding: 20px;
}